body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
* {
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*  */

.landing {
  transition: background-image 1s ease-in-out;
  min-height: 100vh;
  position: relative;
}

.landing .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.header {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
}
.header #logo {
  width: 300px;
  font-weight: bold;
  font-size: larger;
  padding-left: 10px;
}

.header .links {
  position: absolute;
  right: 0;
  text-align: right;
  list-style: none;
  width: 100;
  padding-left: 0;
  padding-right: 20px;
}
.header .links li {
  display: inline-block;
  margin-left: 20px;
  color: #fff;
}
.header .links a:link {
  color: #fff;
  text-decoration: none;
}
.header .links a {
  color: #fff;
}
.header .links li :hover {
  color: #00a9a4;
}
.intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  text-align: center;
}

/* /end/ */

.fields {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  top: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  box-sizing: border-box;
}

.fields input,
.fields label,
.fields button {
  margin: 10px;
  box-sizing: border-box;
}

.fields input {
  height: 40px;
  flex: 1; /* Allow the input fields to take equal width */
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.fields .boi {
  display: flex;
}

.fields label {
  margin-top: 21px;
}

.fields button {
  background-color: #0eaaa6;
  border-radius: 6px;
  width: 10%;
  color: white;
  cursor: pointer;
  margin-left: 45%;
  padding: 10px;
  width: 150px;
}

.underland {
  text-align: center;
  background-color: #00a9a4;
  padding: 20px;
  color: white;
  margin-bottom: 40px;
}
/* /end 1/ */

/* articals */
.articels {
  padding-bottom: 40px;
}
.articels .container {
  padding-left: 5%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.articels .container .lable {
  margin-top: 20px;
  max-width: 400px;
height: 200px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 15px #00000030;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}
.articels .container .lable:hover {
  box-shadow: 0 2px 15px #0b0a0a60;
}
.articels .container .lable .informations {
  display: flex;
  align-items: center;
}
.articels .container .lable span {
  z-index: 5;
  position: absolute;
  top: calc(50% - 45px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.2s;
  cursor: pointer;
}
.articels .container .lable .right {
  right: 10px;
}
.articels .container .lable .left {
  left: 10px;
}
.articels .container .lable .left:hover,
.articels .container .lable .right:hover {
  transform: scale(1.5);
  background-color: #eeeeee44;
}
/* Gallery */
.articels .container .lable .gallery {
  max-width: 100% !important;
  transition: opacity 0.3s ease;
  overflow: hidden;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
}
.gallery::-webkit-scrollbar {
  display: none;
}
.gallery img {
  max-width: 100% !important;
  max-height: 250px;
  transition: transform 0.3s ease-in-out;
}
.articels .container .lable .forsale {
  position: absolute;
  top: 0;
  padding: 5px;
  font-size: 14px;
  background-color: rgb(223, 223, 2);
  border-radius: 5px;
  left: 10px;
  color: white;
}
.articels .container .lable .price {
  position: absolute;
  top: 60%;
  color: white;
  margin-left: 5px;
  transition: 0.3s;
  opacity: 0;
}
.articels .container .lable:hover .price {
  top: 55%;
  opacity: 1;
}
.articels .container .lable .gallery img {
  max-width: 100%;
}
.articels .container .lable .ICON {
  color: black;
  margin-right: -7px;
  margin-left: 7px;
  margin-top: -2px;
}
.articels .container .lable .Details {
  display: flex;
  margin-right: 5px;
  align-items: center;
}
/* foter */
.articels .container .foter {
  color: #00000030;
  border-top: 1px solid #00000030;
  display: inline;
}
.articels .container .foter h3 {
  padding: 8px 10px;
  margin: 0;
  color: #191919;
}
.articels .container .foter p {
  color: #191919;
  font-size: 14px;
  margin-top: -1px;
  margin-left: 10px;
}
.lable:hover{
  transform: scale(1.1);
}

/* /end/ */
.footer {
  background-color: #333;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
    padding-bottom: 100px;
  }
}
.footer .container {
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
  margin-left: 40px;
}
.footer .box .social {
  display: flex;
}
@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
  border-radius: 6px;
}
.footer .box .social .facebook:hover {
  background-color: #1877f2;
}
.footer .box .social .twitter:hover {
  background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
  background-color: #ff0000;
}
.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
  margin-left: 40px;
}
.footer .box .links li {
  padding: 15px 0;
  transition: 0.3s;
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:hover a {
  color: white;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: 0.3s;
  text-decoration: none;
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: #00a9a4;
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}
.footer .box .line i {
  font-size: 25px;
  color: #0eaaa6;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .box .line .info span {
  display: block;
}
.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 10px;
  margin-top: 20px;
}
