.swiper {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.swiper .navigation {
  background: #000;
  color: #fff;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 17, 17, 0.404);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.bar {
  display: flex;
  flex: 1;
  gap: 50px;
  padding-top: 100px;
  margin-left: 250px;
}

.dashdosh {
  width: 90%;
  padding-top: 0%;
  padding-left: 8%;
  display: grid;
  grid-template-rows: auto auto; /* Two rows with auto height */
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  gap: 20px; /* Gap between grid items */
}
.chart-item {
  border-radius: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  overflow: hidden; /* Ensure the border radius applies correctly */
}
